.accordion-Text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #414141;
    margin: 0;
}

.Line-Spacing {
    border: 2px #414141;
    border-bottom-style: dotted;
    width: 58%;
    margin-left: 1%;
    margin-bottom: 2%;
}

.text-FAQ-Component {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

.texto-Accordion {
    margin: 0;
    border-radius: 0 0 5px 5px;
    font-size: 12px;
    transform: translate(0px, -10px);
    transition: transform .2s ease, visibility .1s ease;
    visibility: hidden;
    width: 60%;
    z-index: 997;
    padding-left: 1%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #414141;
}

.texto-Accordion.active {
    transform: translate(0px, 0px);
    transition: transform .2s ease, visibility .1s ease;
    visibility: visible;
    padding-bottom: 3%;
}

.text-Extra {
    text-align: left;
    height: 0;
    transition: all .5s ease;
}

.text-Extra.active {
    height: 70px;
    transition: all .5s ease;
}

@media screen and (min-width:1025px) and (max-width:1440px) {
    .text-FAQ-Component {
        width: 35%;
        justify-content: space-between;
        padding-bottom: 1%;
        cursor: pointer;
    }

    .accordion-Text {
        font-size: 20px;
        padding-left: 3%;
    }

    .texto-Accordion,
    .texto-Accordion.active {
        width: 35%;
        font-size: 15px;
    }

    .Line-Spacing {
        width: 35%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .text-FAQ-Component {
        width: 40%;
    }

    .text-Extra,
    .text-Extra.active {
        width: 35%;
        padding-left: 1%;
        width: 38%;
    }

    .texto-Accordion,
    .texto-Accordion.active {
        width: 100%;
        font-size: 13px;
        padding-top: 3%;
        padding-left: 3%;
    }

    .accordion-Text {
        letter-spacing: -0.03em;
        font-size: 17px;
    }

    .Line-Spacing {
        width: 35.5%;
        margin-left: 2.2%;
        margin-top: 2%;
    }
}

@media screen and (min-width: 450px) and (max-width:768px) {

    .text-Extra,
    .text-Extra.active {
        width: 47%;
    }

    .texto-Accordion.active {
        width: 100%;
    }

    .text-FAQ-Component {
        width: 47%;
    }

    .accordion-Text {
        font-size: 14px;
        letter-spacing: .03em;
    }

    .texto-Accordion {
        width: 100%;
        padding-top: 2%;
        font-size: 11px;
    }

    .Line-Spacing {
        width: 45%;
        margin-left: 1%;
    }
}

@media(max-width:375px) {
    .text-FAQ-Component {
        width: 70%;
    }

    .text-Extra.active {
        height: 65px;
    }

    .texto-Accordion {
        padding-left: 2%;
        width: 70%;
        padding-top: 0;
    }

    .Line-Spacing {
        width: 66%;
        margin-left: 2%;
    }
}

@media (max-width: 320px) {
    .text-FAQ-Component {
        width: 85%;
    }

    .Line-Spacing {
        width: 79%;
        margin-left: 3%;
    }

    .texto-Accordion {
        padding-left: 3%;
        width: 80%;
    }
}