.container-Component-Home-Header {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 60px;
    background-color: white;
    z-index: 999;
}

.container-Logo-Header {
    padding-left: 45%;
}

.btn-Hamburguer {
    z-index: 999;
    left: 0;
    position: fixed;
    transition: all .3s ease;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.btn-Hamburguer.active {
    left: 40%;
    transition: all .2s ease;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 30px;
}

.section-Vector-Search {
    display: flex;
    width: 40%;
    height: 35px;
    justify-content: space-evenly;
}

.section-Vector-Search input {
    width: 75%;
}

.section-Vector-Search button {
    margin: 0;
    padding: 0;
    border: none;
}

@media(max-width:425px) {
    .section-Vector-Search {
        display: none;
    }
}