.section-Info-Vectores-Component {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

.component-Vector {
    width: 300px;
    height: 250px;
}

.container-Text-Icons {
    width: 85%;
}

@media screen and (min-width:1024px) and (max-width:1440px) {
    .section-Info-Vectores-Component {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .section-Info-Vectores-Component-Reverse {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
        margin-top: 5%;
        margin-bottom: 5%;
        justify-content: space-around;
        text-align: left;
    }

    .component-Vector {
        height: 400px;
        width: 400px;
    }

    .container-Text-Icons {
        width: 50%;
    }

    .container-Text-Icons h3 {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: #F778B9;
    }

    .container-Text-Icons p {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.02em;
        width: 75%;
        font-size: 15px;
        color: #979797;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .section-Info-Vectores-Component-Reverse {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15%;
        margin-bottom: 15%;
    }
}

@media(max-width:425px) {
    .section-Info-Vectores-Component-Reverse {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15%;
        margin-bottom: 15%;
    }
}