.container-Newsletter-Component {
    position: relative;
    width: 100%;
    height: 134px;
}

.Newsletter {
    height: 100px;
    width: 30%;
}

.input-Vector {
    display: flex;
    flex-direction: column;
    height: 95px;
    justify-content: space-evenly;
    width: 60%;
    align-items: flex-start;
    margin-top: 1%;
}

.text-Title-Newsletter {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    color: #555555;
}

.text-Text-Newsletter {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #555555;
    margin: 0;
}

.input-Email-Newsletter {
    border: none;
    background-color: #ECF0F7;
    width: 65%;
    height: 95%;
    outline: none;
}

.label-Newsletter {
    display: flex;
    justify-content: space-evenly;
    height: 35px;
    border: 1px solid #CACACA;
    color: #B1B1B1;
    align-items: center;
    border-radius: 5px;
}

.btn-suscribirse {
    width: 30%;
    border: none;
    background-color: #696969;
    color: white;
    border-radius: 5px;
    height: 85%;
}

.vector-Newsletter {
    height: 100px;
    width: 30%;
}

.rectangle-Container {
    width: 100%;
    height: 100px;
    background-color: #ECF0F7;
    position: absolute;
    z-index: 994;
    top: 24%;
}

.container-Input-Vector {
    height: 100px;
    width: 100%;
    display: flex;
    z-index: 995;
    justify-content: space-evenly;
    position: absolute;
}

@media screen and (min-width:1025px) and (max-width:1440px) {
    .vector-Newsletter {
        height: 250px;
        margin-top: -4%;
    }

    .text {
        margin-top: -9%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .text-Title-Newsletter {
        font-size: 30px;
    }

    .text-Text-Newsletter {
        font-size: 15px;
    }

    .container-Input-Vector {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .rectangle-Container {
        top: 0;
        height: 200px;
    }

    .section-Input-Newsletter {
        width: 100%;
    }

    .label-Newsletter {
        height: 60px;
        width: 90%;
    }

    .btn-suscribirse {
        width: 20%;
        cursor: pointer;
    }

    .btn-suscribirse:hover {
        background-color: #4a4a4a;
    }

    .input-Vector {
        height: 150px;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {

    .container-Input-Vector {
        height: 150px;
    }

    .section-Input-Newsletter {
        width: 90%;
    }

    .btn-suscribirse {
        height: 80%;
        width: 20%;
    }

    .vector-Newsletter {
        height: 150px;
    }

    .input-Vector {
        width: 70%;
        height: 115px;
        justify-content: space-between;
    }

    .text {
        height: 51px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .input-Email-Newsletter {
        height: 90%;
    }

    .rectangle-Container {
        height: 130px;
    }

    .label-Newsletter {
        height: 50px;
    }

    .text-Text-Newsletter {
        font-size: 15px;
    }

    .text-Title-Newsletter {
        font-size: 25px;
    }
}

@media screen and (min-width: 450px) and (max-width: 768px) {
    .input-Vector {
        height: 105px;
    }

    .section-Input-Newsletter {
        width: 100%;
    }

    .label-Newsletter {
        width: 90%;
        height: 45px;
    }

    .input-Email-Newsletter {
        width: 75%;
    }

    .btn-suscribirse {
        height: 90%;
    }
}

@media(max-width:375px) {
    .btn-suscribirse {
        width: 35%;
    }

    .input-Email-Newsletter {
        width: 55%;
    }
}

@media(max-width:320px) {
    .btn-suscribirse {
        width: 40%;
    }
}